{% extends 'base.html' %}
{% block title %} List of SubTasks {% endblock %}
{% block content %}

    <div class="container mt-4">
        <a href="{% url 'projects:create_subtasks' project.pk %}" class="btn bg-success">Create SubTask</a>

        <div class="row">
            {% for subtask in subtasks %}
                <div class="col-4 mt-2 mb-4">
                    <div class="all-cart">
                        <div class="col">
                            <div class="card h-100" style="border-color: {{ project.color }}">
                                <img src="{{ subtask.image.url }}" class="card-img-top" alt="{{ subtask.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ subtask.title }}</h5>
                                    <p style="background-color: {{ project.color }};width: 20px;height: 20px;border-radius: 20px"></p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'projects:subtask_detail' subtask.pk %}" class="btn btn-primary">More
                                        Info</a>
                                    <a href="{% url 'projects:update_subtask' subtask.pk %}" class="btn btn-primary">update
                                        task</a>
                                    <a href="{% url 'projects:delete_subtask' subtask.pk %}" class="btn btn-danger">delete</a>
                                    <small class="text-body-secondary">{{ subtask.start_date }}</small>
                                    <small class="text-body-secondary">{{ subtask.end_date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
