{% include 'base.html' %}
{% block body %}

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-3 mb-5 mb-lg-0" style="z-index: 10">
                <h1>Update Task</h1>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass" style="background-color: rgba(87,101,107,0.5); color: #ced6de">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-4 text-center container">
                                    <div class="form-outline">
                                        {{ form.as_div }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary container" type="submit">save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}